@charset "UTF-8";

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: left;
    font-size: larger;
}

.left-login > h1{
    color: #1BF2B5;
    margin-bottom: 0px;
}

.left-login > img{
    height: 500px;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-login{
    background-color: #312944;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 35px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000050;
}

.card-login > h1{
    color: #03ffb8;
    font-weight: 800;
    margin: 0;
}

.text-use{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-use > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000050;
    outline: none;
    box-sizing: border-box;
}

.text-use > input::placeholder{
    color: #f0ffff94;
}

.text-use > label{
    color: #f0ffffde;
    margin: 10px;
}

.btn-login{
    width: 100%;
    margin-top: 35px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #03ffb8 ;
    outline: none;
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: 3px;
    color:#312944;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000050;
}